<div id="title">
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <p>{{ email }}</p>
</div>

<article class="about">
  <h2>Sobre miaunet</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus
    ligula at ipsum euismod, id aliquam augue elementum. Donec eget lectus
    velit. Sed nulla nisi, imperdiet vel suscipit ac, tincidunt ut nulla. Cras
    congue turpis quis convallis suscipit. Interdum et malesuada fames ac ante
    ipsum primis in faucibus. Orci varius natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus. Morbi eleifend turpis est, non
    elementum est luctus non. Vestibulum orci est, aliquet a elementum a,
    ultricies non lectus. Pellentesque vel nulla dui. Sed luctus interdum massa.
    Integer porttitor erat felis. Integer libero purus, ultrices non enim ac,
    vehicula aliquam ipsum.
  </p>
</article>
